:root {
    --primary-color: rgba(0, 0, 0, 0.6);
    --hover-color: #ddd;
    --font-size-large: 3rem;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2),
                0 15px 30px rgba(0, 0, 0, 0.1); 
}
#logo {
    height: 5rem;
}

#burger-menu {
    background-color: white;
    border: none;
    cursor: pointer;
    position: relative;
}
#burger-icon, #close-icon {
    height: 3rem;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#close-icon, #user-icon, .social-icon {
    display: none;
}

#burger-menu.open #burger-icon {
    display: none;
    transform: scale(0.8);
}

#burger-menu.open #close-icon {
    display: block;
    transform: scale(1);
}

nav {
    display: none;
    margin: 0;
    padding: 0;
    position: sticky;
    left: 0;
    width: 100%;
    background-color: white;
}

#navbar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-link {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-weight: 100;
    color: var(--primary-color);
    filter: brightness(120%);
    text-decoration: none;
    font-size: 3rem;
    padding: .3rem;
}
li {
    list-style-type: none;
}

.nav-link:hover {
    color: #ddd;
}

nav.open {
    visibility: visible;
    position: fixed;
    height: 100%;
    top: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

/* TODO: Temporary filler */
#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100rem;
}

footer {
    height: 15rem;
    background-color: rgb(117, 117, 117);
}

/* Styles for tablets (601px and up) */
@media (min-width: 601px) {
    .example {
        font-size: 1.5rem;
    }
}

/* Styles for desktops (1024px and up) */
@media (min-width: 1024px) {
    .example {
        font-size: 2rem; /* Overrides the 601px+ rule for desktops */
    }
}